{% extends 'layout/base.html' %}



{% block content %}
<h1>Все новости</h1>
<p>Количество новостей: {{ posts|length }}</p>

<a href="/" class="btn btn-outline-primary bts-sm">На главную</a>
<a href="{% url 'news:post_create' %}" class="btn btn-outline-success bts-sm">Создать пост</a>
<a href="/news/search/" class="btn btn-outline-primary bts-sm">Поиск</a>


<div class="news-list">
    {% for post in posts %}
    <div class="news-item">
        <p>{{ post.dateCreation|date:"d.m.Y" }}</p>
        <tr>
            <td><a href="{% url 'news:news' post.pk %}">{{ post.text|truncatewords:20 }}</a></td>
            <td>
                <a href="{% url 'news:post_update' post.pk %}" class="btn btn-outline-primary btn-sm">Редактировать</a>
                <a href="{% url 'news:post_delete' post.pk %}" class="btn btn btn-outline-danger btn-sm">Удалить</a>
            </td>
        </tr>
    </div>
    {% endfor %}
</div>
<br>
{% include 'news/paginator.html' %}




{% endblock %}


