{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block title %}

{% endblock %}

{% block content %}
<div class="welcome-message">
    <h2>Здравствуйте, дорогие читатели!</h2>
    <p>Мы рады приветствовать вас на нашем новостном портале, где каждый день вас ждут самые свежие и актуальные новости со всего мира. Наша миссия — предоставлять вам надежную и проверенную информацию, чтобы вы всегда были в курсе последних событий.</p>
    <p>На нашем сайте вы найдете:</p>
    <ul>
        <li><strong>Последние новости:</strong> От политики до экономики, от культуры до спорта — все самое важное и интересное.</li>
        <li><strong>Аналитические статьи:</strong> Глубокие разборы текущих событий от экспертов в различных областях.</li>
        <li><strong>Эксклюзивные интервью:</strong> Беседы с влиятельными личностями и мнения лидеров мнений.</li>
        <li><strong>Мультимедийный контент:</strong> Фото и видео репортажи, которые помогут вам лучше понять контекст событий.</li>
    </ul>
    <p>Присоединяйтесь к нашему сообществу информированных читателей и будьте всегда в курсе событий, важных для вас. Спасибо, что выбрали нас в качестве вашего источника новостей!</p>
</div>

{% endblock %}
