{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="news-detail">
    <h1>{{ post.title }}</h1>
    <p>Дата создания: {{ post.dateCreation|date:"d.m.Y" }}| Категория: {% for category in post.postCategory.all %}
        <a href="{% url 'news:posts_by_category' category.pk %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}</p>
    <p>Автор: {{ post.author.authorUser.username }}</p>
    <p>{{ post.text|censor }}</p>
</div>

<form method="POST">
 {% csrf_token %}
 {{ form }}
   <!-- Теперь нам нужна только готовая форма и кнопка -->
    <a href="{% url 'news:post_update' post.pk %}" class="btn btn-outline-success btn-sm">Редактировать</a>
    <a href="{% url 'news:post_delete' post.pk %}" class="btn btn btn-outline-danger btn-sm">Удалить</a>

</form>
{% endblock %}

