{% extends 'layout/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="news-detail">
    <h1>{{ post.title }}</h1>
    <p>{{ post.dateCreation|date:"d.m.Y" }}</p>
    <p>Автор - {{ post.author.authorUser.username }}</p>
    <p>{{ post.text|censor }}</p>
</div>


<form method="POST">
 {% csrf_token %}
 {{ form }}
   <!-- Теперь нам нужна только готовая форма и кнопка -->
    <a href="{% url 'news:post_update' post.pk %}" class="btn btn-outline-success btn-sm">Редактировать</a>
    <a href="{% url 'news:post_delete' post.pk %}" class="btn btn btn-outline-danger btn-sm">Удалить</a>

</form>
{% endblock %}
